* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.header-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-list2 {
    margin-top: 20px;
}

.header-item2 {
    display: flex;
    gap: 65px;
}

.header-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
}

.ilova {
    font-size: 30px;
    color: green;
}

.hero-container {
    background-color: #ECFFEB;
    padding: 40px;
    position: relative;
    height: 600px;
    margin-bottom: 80px;
}

.hero-list {
    display: flex;
    gap: 20px;
}

.hero-title1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: 0px;
}

.hero-title2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
}

.hero-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0px;
}

.hero-item2 {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 440px;
    left: 50%;
    transform: translateX(calc(-50% - 300px));
}

.hero-btn {
    width: 230px;
    height: 50px;
    border: none;
    background-color: green;
    color: white;
}

.hero-btn2 {
    width: 230px;
    height: 50px;
    border: 1px green solid;
    color: green;
    background-color: #ECFFEB;
}

.asider {
    position: absolute;
    background-color: white;
    box-shadow: grey 4px 4px 4px 4px;
    top: 520px;
    width: 1000px;
    height: 150px;
    padding: 25px;
    left: 50%;
    transform: translateX(calc(-50% - 5px));
}

.asider-list {
    display: flex;
    gap: 40px;
}

.asider-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #55A630;
    margin-bottom: 10px;
}

.asider-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #424242;
}

.card-container {
    position: relative;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
    color: #424242;
}

.card-list {
    display: flex;
    gap: 30px;
}

.card-item {
    width: 365px;
    height: 580px;
    border: none;
    box-shadow: #424242 2px 2px 2px 2px;
    padding: 20px;
}

.card-title2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.card-title11 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.4px;
    color: #4340B4;
    width: 205px;
    margin-bottom: 20px;
}

.card-title12 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.4px;
    color: #55A630;
    margin-bottom: 20px;
}

.card-title13 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.4px;
    color: #1D8195;
    margin-bottom: 20px;
}

.card-btn11 {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #4340B4;
    color: white;
    margin-bottom: 20px;
}

.card-btn12 {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #55A630;
    color: white;
    margin-bottom: 20px;
}

.card-btn13 {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #1D8195;
    color: white;
    margin-bottom: 20px;
}

.card-title3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
}

.card-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #424242;
    display: inline;
    line-height: 30px;
    width: 160px;
}

.card-img {
    display: inline;

}

.card-text2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #424242;
}

.card-item22 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card-list2 {
    display: flex;
    gap: 20px;
}

.card2-btn11 {
    position: absolute;
    width: 366px;
    height: 60px;
    background-color: #4340B4;
    border: none;
    top: 550px;
    left: 50%;
    transform: translateX(calc(-50% - 398px));
}

.card2-btn12 {
    position: absolute;
    width: 368px;
    height: 60px;
    background-color: #5351C41A;
    border: none;
    top: 610px;
    left: 50%;
    transform: translateX(calc(-50% - 398px));
}

.card2-btn21 {
    position: absolute;
    width: 366px;
    height: 60px;
    background-color: #55A630;
    border: none;
    top: 550px;
    left: 50%;
    transform: translateX(calc(-50% - 2px));
}

.card2-btn22 {
    position: absolute;
    width: 366px;
    height: 60px;
    background-color: #ECF9EB;
    border: none;
    top: 610px;
    left: 50%;
    transform: translateX(calc(-50% - 2px));
}

.card2-btn31 {
    position: absolute;
    width: 366px;
    height: 60px;
    background-color: #00A896;
    border: none;
    top: 550px;
    left: 50%;
    transform: translateX(calc(-50% + 393px));
}

.card2-btn32 {
    position: absolute;
    width: 366px;
    height: 60px;
    background-color: #00A8961A;
    border: none;
    top: 610px;
    left: 50%;
    transform: translateX(calc(-50% + 393px));
}

.middle-container {
    margin-top: 60px;
}

.middle-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.middle-title2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.middle-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 107%;
    letter-spacing: -0.4px;
    color: #55A630;
    width: 500px;
    margin-bottom: 60px;
}

.middle-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0%;
    color: #424242;
    width: 450px;
    margin-bottom: 100px;
    line-height: 30px;
}

.middle-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #55A630;
}

.main-list{
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
}